{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container text-center p-3">
<p class="fs-3">Se ha enviado un email de reinicialización de contraseña</p>
<p>
    Se le han enviado instrucciones sobre cómo establecer su contraseña. Si la dirección de email que proveyó existe, debería recibir las mismas pronto.
    
    Si no ha recibido un email, por favor asegúrese de que ha introducido la dirección de correo con la que se había registrado y verifique su carpeta de Correo no deseado.</p>
</div>
{% endblock %}